.cart {
  list-style: none;
}
figure{
    background-color: rgb(127, 177, 177);
    padding: 10px;
    border-radius: 40px;
    transition-duration: 1s;
}
figure:hover{
  box-shadow: 5px 5px 5px rgb(190, 84, 84);
  transform: scale(1.1);
}
figure img {
  width: 200px;
  height: 150px;
  background: #6197d5;
  border-radius: 50%;
 padding: 5px;

}
figure h1{
    font-size: 20px;
}
figure h2{
    font-size: 20px;
    background: #0ddb55;
    display: inline-block;
    color: white;
    padding: 5px;
    border-radius: 50px;
}
.pro{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}